.titulo{
    font-size: 70px;
}

.nuevo{
    font-size: 40px;
}

.usados{
    font-size: 40px;
}

.a{
color: violet;
}

.b{
color: violet;
}

.c{
color: violet;
}

.d{
color: violet;
}

.e{
color: violet;
}

.f{
color: violet;
}

.g{
color: rgb(15, 14, 15);
}

.h{
color: rgb(8, 8, 8);
}

.i{
color: rgb(5, 5, 5);
}

.j{
color: rgb(8, 8, 8);
}

.k{
color: rgb(12, 11, 12);
}

.boody{
    background-color: beige;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}